.trailer-slider {
    padding-block: 2rem;
    background-image: url('/imgs/login-background.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    border: 1px solid var(--p-surface-500);

    .trailer-slider__bg {
        z-index: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(10px);
        // min-height: 100vh;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .trailer-slider__title {
        z-index: 2;
        position: relative;
        padding-inline: 3rem;

        // margin-bottom: 1rem;
        h2 {
            font-size: 5rem;
            color: #fff;
            transition: 0.5s;
        }

        h2:hover {
            color: var(--p-primary-500);
        }
    }

    .trailer-slider__slider {
        z-index: 2;
        position: relative;
        padding-inline: 2rem;
    }
}

.p-carousel .p-carousel-indicators {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 6px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: 1px solid white;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight {
  background-color: var(--p-primary-500);
}